:root {
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: #eeeff1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

/* Navbar Elements */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px;
}

nav .left-side a {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 700;
}
nav .right-side {
  display: flex;
  align-items: center;
  gap: 20px;
}