:root {
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: #eeeff1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

/* Navbar Elements */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px;
}

nav .left-side a {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 700;
}
nav .right-side a{
  color:var(--text-color);
  margin:0 5px;
}

nav .right-side a:last-child{
  color:var(--background-color);
  background-color:var(--text-color);
  padding: 5px 10px;
  border-radius: 5px;
}

nav .right-side a span{
    margin-left: 5px;
}
/* Navbar Styling on mobile devices */
@media (max-width: 600px) {
  nav {
    flex-direction: row;
    padding: 0 20px;
  }

  nav .left-side {
    margin-bottom: 10px;
  }

  nav .right-side a {
    font-size: 22px;
  }
  nav .right-side a:last-child {
    color: var(--text-color);
    background-color: transparent;
    padding: 0px;
  }
   nav .right-side a span {
    display: none;
  }
}